.about {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 50vh;

  .about__container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      margin: 15px;
      padding: 40px 25px;
      max-width: 300px;
      background: rgba(21, 19, 22, 0.863);

      .icon {
        font-size: 40px;
        margin-bottom: 20px;
      }

      .title {

        h3 {
          font-weight: bold;
        }

        .seperator {
          border: 2px solid #ffffff;
          width: 80px;
          margin: 20px 0px;
        }
      }
    }
  }
}

.active {
  background: rgba(98, 5, 141, 0.863) !important;
  color: #ffffff !important;
}

$breakpoint-desktop: 1024px;
@media (min-width: $breakpoint-desktop) {
  .about {
    height: 100vh;
  
    .about__container {
      min-height: 100%;
  
      .box {
        margin: 30px;
        padding: 50px 35px;
        max-width: 400px;
        color: #ffffff;
  
        .icon {
          font-size: 50px;
          margin-bottom: 30px;
        }
  
        .title {
  
          h3 {
            font-weight: bold;
          }
  
          .seperator {
            border: 2px solid #ffffff;
            width: 100px;
            margin: 20px 0px;
          }
        }
      }
    }
  }
}


$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  .about {
    margin: 0 auto;
  
    .about__container {
      margin: 0 auto;
  
      .box {
        margin: 10px;
        padding: 25px 20px;
  
        .icon {
          font-size: 30px;
          margin-bottom: 15px;
        }
  
        .title {
  
          h3 {
            font-weight: bold;
          }
  
          .seperator {
            width: 60px;
          }
        }
      }
    }
  }
  
}

$breakpoint-mobile: 360px;
@media (max-width: $breakpoint-mobile) {
  .about {
    height: 100vh;
    width: 100vw;
    padding: 30px 0px;
  
    .about__container {
      min-height: 100%;
      min-width: 100%;
      display: block;
  
      .box {
        margin: 0 auto;
        padding: 10px;
        max-width: 256px;
        margin-bottom: 10px;
  
        .icon {
          text-align: center;
          font-size: 20px;
          margin-bottom: 10px;
        }
  
        .title {
  
          h3 {
            font-size: 16px;
          }

          p {
            font-size: 14px;
          }
  
          .seperator {
            border: 1px solid #ffffff;
            width: 50px;
            margin: 10px 0px;
          }
        }
      }
    }
  }
}