.homepage {
  height: 100vh;
  background-image: url("../../assets/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .layer {
    background-color: rgba(0, 0, 0, 0.199);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}